/* Global styles */
body {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-top: 0;
  padding: 20px;
  margin-left: 15%; /* Apply 15% margin on the left */
  margin-right: 15%; /* Apply 15% margin on the right */
  font-size: 1.2em;
  width: 70%
}

h1, h2, h3 {
  font-family: "Segoe UI", Arial, sans-serif;
}

/* Sidebar styles */
#sidebar {
  width: 100%;
  height: auto;
  background-color: #0077be;
  color: #fff;
  font-size: 1.4em;
  margin-left: 15%; /* Apply 15% margin on the left */
  margin-right: 15%; /* Apply 15% margin on the right */
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#sidebar ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
}

#sidebar ul li a:hover {
  background-color: #005f9e;
}

/* Content styles */
#content {
  padding: 20px;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 1.2em;
}

/* Side-by-side layout for photo/video and text */
.side-by-side {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  align-items: center;
  margin: 30px 0; /* Vertical spacing */
  width: calc(100% - 30%); /* Full width minus the content margins */
  position: relative; /* Ensure the section is positioned independently */

}

.media-section {
  flex: 1;
  text-align: center;
}

.media-section img {
  max-width: 100%;
  height: auto;
  border: 2px solid #ccc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius: 8px; /* Rounded corners for images */
}

.text-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align text to the left */
    justify-content: flex-start; /* Start content at the top */
    text-align: justify; /* Justify text */
}

.text-section p {
  margin-bottom: 15px;
}

    .side-by-side.team .text-section {
    flex: 3; /* 70% of the width */
    }

    .side-by-side.team .media-section {
    flex: 1; /* 30% of the width */
    }
        
/* Ensure media elements are responsive */
    .media-section iframe, 
    .media-section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

img {
  max-width: 100%;
  height: auto;
  border: 2px solid #ccc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.justified-text {
  text-align: justify;
}
